<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      Te han enviado una <strong>notificación</strong> por la propiedad 
      que registrarte en <%= @url %>
    </p>
    <p>
      Pronto te contactaran...
    </p>
    <p>Gracias por unirte y que tengas un gran día</p>
  </body>
</html>